<h2>This is the top ten list:</h2>

<% @hotreads.each do |hotread| %>
  <table>
    <tr>
      <th>URL</th>
      <th>Viewed times</th>
    </tr>
    <tr>
      <td><%=hotread.url%></td>
      <td><%=hotread.hit_count%></td>
    </tr>
  </table>
<% end %>
